# Bash, zsh compatible aliases
if [ 'command -v exa' ]; then 
  unalias l
  alias ll='exa -lh'
  alias la='exa -la'
  alias lsa='exa -a'
  alias ls='exa -G'
  # Set exa's date column to cyan
  export EXA_COLORS="da=36"
else
  unalias l
  alias la='ls -lAh'
  alias ll='ls -lh'
  alias ls='ls -G'
  alias lsa='ls -lah'
fi

# aliases for pushd and popd
alias p='pushd'
alias pp='popd'